{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>@projects</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'main/assets/favicon.ico' %}"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'main/css/styles.css' %}" rel="stylesheet" />
    </head>
           <!-- Responsive navbar-->
           <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="../">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../resume">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link-pressed" href="">Contact</a>
            </li>
          </ul>
    <h1>Contact</h1>
</html>